<h1>Daily Tasks List</h1>


<%= render 'form' %>

<ul>
	<% for task in @tasks %>
		<li id = "task_<%= 	task.id %>">
			<%= task.task %> |
			<%= link_to 'Edit', edit_task_path(task) %>
		</li>
	<% end %>
</ul>
